

/*STYLE STYLE STYLE*/
/*STYLE STYLE STYLE*/
/*STYLE STYLE STYLE*/
/*STYLE STYLE STYLE*/

body
{

    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
}


body.styleBrown .bt
{
    background: #86754A;
    color: #F5E5BB;
}
body.styleBrown
{
    background: #F5E5BB;
}

body.styleBrown table.grid
{
    background:#F5F0E3;
}

body.styleBrown .bttab
{
    background: #86754A;
    color:white;
}
body.styleBrown .bttab:hover
{
    background: #F5E5BB;
    color: #503F13;
}

body.styleBrown .current
{
    background: #503F13;
    color:white;
}
body.styleBrown .current:hover
{
    background: #503F13;
    color:white;
}

body.styleBrown input,textarea,select
{
    background:white;
    color: black;
}


body.styleGreen .bt
{
    background: #4F7340;
    color: #CBF4BA;
}
body.styleGreen
{
    background: #CBF4BA;
}

body.styleGreen table.grid
{
    background:#E7F4E1;
}

body.styleGreen .bttab
{
    background: #4F7340;
    color:white;
}
body.styleGreen .bttab:hover
{
    background: #CBF4BA;
    color: #204410;
}

body.styleGreen .current
{
    background: #204410;
    color:white;
}
body.styleGreen .current:hover
{
    background: #204410;
    color:white;
}


body.styleGreen input,textarea,select
{
    background:white;
    color: black;
}


body.styleBlue .bt
{
    background: #354259;
    color: #BED0F2;
}
body.styleBlue
{
    background: #BED0F2;
}

body.styleBlue table.grid
{
    background:#E1E7F2;
}

body.styleBlue .bttab
{
    background: #354259;
    color:white;
}
body.styleBlue .bttab:hover
{
    background: #BED0F2;
    color: #0D1B35;
}

body.styleBlue .current
{
    background: #0D1B35;
    color:white;
}
body.styleBlue .current:hover
{
    background: #0D1B35;
    color:white;
}

body.styleBlue input,textarea,select
{
    background:white;
    color: black;
}

/*dark*/
body.styleDark
{
    background: #282828;
    color: white;
}

body.styleDark .bt
{
    background: #4c4c4c;
    color: white;
    border: 1px solid #5a5a5a;
}



body.styleDark table.grid
{
    background: #565656;
}

body.styleDark .bttab
{
    background: #202225;
    color:white;
}
body.styleDark .bttab:hover
{
    background: #6f767c;
    color: #ffe377;
}

body.styleDark .current
{
    background: #565b61;
    color:white;
}
body.styleDark .current:hover
{
    background: #0D1B35;
    color:white;
}

body.styleDark input,textarea,select
{
    background:white;
    color: black;
}

/*bt*/
body.styleDark button
{
    background: #939393;
    border: 1px solid #282828;
    color: white;
}

body.styleDark .bold
{
    font-weight: 300;
}

body.styleDark #idStatus
{
    color: #fffabd;
}

body.styleDark #idOpenWallet
{
    border: 1px solid darkgrey;
}

body.styleDark .bt:hover
{
    background: #6c6c6c;
}
body.styleDark button:hover
{
    background: #a8a8a8;
}
